@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "PolarisCondensed";
  src: url("/PolarisCondensed.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PolarisCondensed";
  src: url("/PolarisCondensed-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: "PolarisCondensed" !important;
  font-weight: 500;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* index.css */
.bg-hero {
  background-image: url("/background.jpg"); /* from public/ folder */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.farro-bold {
  font-family: "Farro" !important;
  font-weight: 700;
  font-style: normal;
}

.buttonFont {
  font-family: "Public Sans" !important;
  font-weight: 700;
  font-style: normal;
}
